<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <title>Home</title>
    <link rel="shortcut icon" type="imagex/png" href="/static/logo.ico">
</head>
<body>
<div class="header">
    <a href="/css"><img src="/static/logo.png" alt=""></a>
    <h1>Controle de estoque</h1>
</div>

<div class="main">
    <div class="sidebar">
        <ul class="menu">
            <li>
                <a href="{{ url_for('dashboard') }}">
                    <div class="menu-itens">
                        <img src="/static/home.png">
                        <p>Dashboard</p>
                    </div>

                </a>
            </li>
            <li>
                <a href="{{ url_for('categorias') }}">
                    <div class="menu-itens">
                        <img src="/static/categoria.png">
                        <p>Categorias</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ url_for('produtos') }}">
                    <div class="menu-itens">
                        <img src="/static/produto.png">
                        <p>Produtos</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ url_for('entradas') }}">
                    <div class="menu-itens">
                        <img src="/static/entrada.png">
                        <p>Entradas</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ url_for('saidas') }}">
                    <div class="menu-itens">
                        <img src="/static/saida.png">
                        <p>Saídas</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ url_for('historico') }}">
                    <div class="menu-itens">
                        <img src="/static/time.png">
                        <p>Histórico</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>

    <div class="block">
        {% block content %}

        {% endblock %}
    </div>
</div>
</body>
</html>